.toolbar {
  display: flex;
  gap: 0 5px;
  margin-bottom: 20px;
}

.filter {
  padding: 5px 10px;

  background-color: #fff;
  border: 1px solid #444444;
  cursor: pointer;
}

.filter--active {
  color: #fff;
  background-color: #444444;
}